<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>New message form</p>
    <form method="POST" action="/new">
      <label for="user">Your name: </label><br />
      <input id="user" type="text" name="messageUser" /><br />
      <label for="message">Your message: </label><br />
      <input id="message" type="text" name="messageText" /><br />
      <button class="submit" type="submit">Submit</button>
    </form>
  </body>
</html>
